.EightBall {
  display: flex;
  background-color: black;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.EightBall p {
  margin: auto;
}